variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  GIT_SUBMODULE_STRATEGY: normal
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

image:
  name: docker/compose
  entrypoint: ["/bin/sh", "-c"]

services:
  - docker:28.5.0-dind

cache:
  key: ${CI_JOB_NAME}
  paths:
    - .cache/pip

stages:
  - check
  - test
  - build
  - tag
  - package
  - publish
  - release

Version Check:
  stage: check
  image: python:3.12
  only:
    - branches
  except:
    - master
  before_script:
    - pip install poetry
    - poetry check
  script:
    - git fetch --tags
    - sed -i -e 's/\r$//' scripts/check_version_update.sh
    - scripts/check_version_update.sh

Requirements Export Check:
  stage: check
  image: python:3.12
  only:
    - branches
  except:
    - master
  before_script:
    - pip install poetry
    - poetry self add poetry-plugin-export
    - poetry check
  script:
    - scripts/check_requirements_export.sh

Test Linux:
  stage: test
  image: python:3.11.5
  only:
    - branches
  except:
    - master
  before_script:
    - apt-get update && apt-get install -y
      libgl1-mesa-glx
      libegl1
      libxkbcommon-x11-0
      libxcb-cursor0
      libxcb-xkb1
      libxcb-icccm4
      libxcb-keysyms1
      libglib2.0-0
      libdbus-1-3
      libxrender1
      libxi6
      xvfb
      x11-utils
      fonts-dejavu-core
    - pip install poetry
    - poetry config virtualenvs.create false
    - poetry install --with=test,ci --without dev
  script:
    - pytest -m "not windows and not macos"
  artifacts:
    paths:
      - htmlcov/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 1 week

Test Windows Settings:
  stage: test
  tags:
    - saas-windows-medium-amd64
  variables:
    PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    KEYRING_PROPERTY_TRUST_REPO: false
  only:
    - branches
  except:
    - master
  before_script:
    - choco install python --version=3.11.5 --force -y
    - C:\Python311\python.exe -m pip install poetry==2.1.4
    - C:\Python311\Scripts\poetry.exe config virtualenvs.create false
    - C:\Python311\Scripts\poetry.exe install --with=test --without dev,ci
  script:
    - C:\Python311\Scripts\poetry.exe run pytest -m "not qt" --tb=short -v --cov-append
  artifacts:
    paths:
      - htmlcov/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 1 week

# Commented out because we currently are running in free tier, which gives no access to MacOS VMs.
# As we are currently developing on a MacOS system, MacOS-specific tests will be covered there.
#Test macOS Settings:
#  stage: test
#  tags:
#    - saas-macos-medium-m1
#  only:
#    - branches
#  except:
#    - master
#  before_script:
#    - export PATH="/opt/homebrew/bin:$PATH"
#    - brew install python@3.11 poetry || true
#    - python3.11 -m pip install poetry==2.1.4
#    - poetry config virtualenvs.create false
#    - poetry install --with=test --without dev,ci
#  script:
#    - poetry run pytest -m macos --cov-append
#  artifacts:
#    paths:
#      - htmlcov/
#    reports:
#      coverage_report:
#        coverage_format: cobertura
#        path: coverage.xml
#    expire_in: 1 week

build-windows:
  stage: build
  except:
    - master
  before_script:
    - chmod +x ./scripts/download_ffmpeg.sh
    - ./scripts/download_ffmpeg.sh
  script:
    - docker image prune -f
    - docker-compose -f docker-compose.build.yml build --no-cache
    - docker-compose -f docker-compose.build.yml up --exit-code-from app-windows
  after_script:
    - docker-compose -f docker-compose.build.yml down
    - ls -la .
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/dist/windows
    expire_in: 1 week

Tag Release:
  stage: tag
  image: python:3.12
  only:
    - master
  before_script:
    - pip install poetry
    - poetry config virtualenvs.create false
  script:
    - git config --global user.email "${GITLAB_USER_EMAIL}"
    - git config --global user.name "${GITLAB_USER_NAME}"
    - project_url=$(echo $CI_PROJECT_URL | sed 's/https:\/\///')
    - git remote add api-origin https://oauth2:${GITLAB_ACCESS_TOKEN}@${project_url} || echo "remote already set"
    - version=$(poetry version --short)
    - git tag $version
    - git push api-origin $version

package-windows:
  stage: package
  only:
    - tags
  dependencies:
    - build-windows
  before_script:
    - ls ./dist/windows/
  script:
    - docker image prune -f
    - docker-compose -f docker-compose.dist.yml build --no-cache
    - docker-compose -f docker-compose.dist.yml up --exit-code-from dist-windows
    - ls -la ./dist/windows
    - mv ./dist/windows/Mixcloud\ Bulk\ Downloader.zip ./dist/windows/Mixcloud_Bulk_Downloader_${CI_COMMIT_TAG}.zip
    - ls -la ./dist/windows
    - echo "${CI_JOB_ID}" > CI_JOB_ID.txt # Save job ID for use in release job
  after_script:
    - docker-compose -f docker-compose.dist.yml down
    - pwd
    - echo ${CI_PROJECT_DIR}
    - ls -la ${CI_PROJECT_DIR}/dist/windows
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/dist/windows
      - CI_JOB_ID.txt

release-windows:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  dependencies:
    - package-windows
  needs:
    - job: package-windows
      artifacts: true
  only:
    - tags
  script:
    - echo $CI_JOB_URL
    - echo "running release_job"
    - ls -la ./dist/windows/
  after_script:
    - wget --spider --no-parent ${CI_PROJECT_URL}/-/jobs/`cat CI_JOB_ID.txt`/artifacts
  release: # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: '$CI_COMMIT_TAG'
    name: 'Release $CI_COMMIT_TAG'
    description: '$CI_COMMIT_MESSAGE'
    assets:
      links:
        - name: Mixcloud_Bulk_Downloader_${CI_COMMIT_TAG}.zip
          url: ${CI_PROJECT_URL}/-/jobs/`cat CI_JOB_ID.txt`/artifacts/raw/dist/windows/Mixcloud_Bulk_Downloader_${CI_COMMIT_TAG}.zip
