# IDE config
.idea

# filesystem
.DS_Store

# caching
*.pyc
**/__pycache__

# logging
logs
*.log

# (test) data files
mc_list_*
*.csv
*.sqlite3

# build & dist files
build
dist

# packaged apps
*.dmg

# environment variables
.env

# virtual environments
venv*

# Apple Developer ID
CertificateSigningRequest.certSigningRequest
developerID_application.cer

# unit test reports
.coverage
htmlcov
coverage.xml

# Claude
.claude
private_plans

# local secrets & settings
local_settings
~/
